/* FONT */
@import url(
  'https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap'
);
@import url(
  "https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css"
);

/* CSS RESET */
*, ::after, ::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

img {
  border: 0;
}

button{
  background-color: transparent;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
}

input{
  text-decoration: none;
  background-color: none;
  outline: none;
  transition: all 0.1s linear;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 9999s ease-out;
  transition: background-color 5000s ease-in-out 0s;
}

textarea {
  resize: none;
  border: none;
  outline: none;
}

select {
  background: none;
  outline: none;
  border-radius: 0;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* PLACEHOLDER */

input::placeholder{
  color: #757575;
  font-size: 14px;
}

textarea::placeholder {
  color: #757575;
  font-size: 14px;
}

/* COMMON */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

::-webkit-scrollbar { display: none; }

html, #root {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
} 

  body {
    background-color: #f7f6f2;;
    color: #212121;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    margin: 0 auto;
    font-family:
      "Montserrat",
      "Helvetica Neue",
      "NanumSquare",
      "Noto Sans",
      "Noto Sans CJK KR",
      sans-serif;
    word-break: keep-all;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    transition: all 0.25s linear;
  }